/* 0. Imports
--------------------------------------*/
@import url(//fonts.googleapis.com/css?family=Yellowtail);

/*  2. Styles
--------------------------------------*/

.yellowtitle {
    font: 76px/76px 'Yellowtail';
    color: #eb7093;
}

.yellowtitle:hover {
    text-decoration: none;
    color: #ea6891;
}

.yellowtail {
    font: 'Yellowtail' !important;
    color: #eb7093 !important;
}

.yellowtail:hover {
    text-decoration: none !important;
    color: #ea6891 !important;
}

hr.long-hr {
    max-width: none;
    border-color: #777;
    color: #777;
}

a.silent {
    color: #333;
}

a.silent:hover {
    text-decoration: none;
    color: #6495ed;
}

span.book {
    position: absolute;
    bottom: 5px;
    left: 15px;
    width: 100%;
    font-weight: 300;
    color: black;
    font: 24px 'Yellowtail';
}