/* 0. Imports
--------------------------------------*/
@import url(//fonts.googleapis.com/css?family=Yellowtail);

/*  2. Styles
--------------------------------------*/

.yellowtitle {
    font: 50px/50px 'Yellowtail' !important;
    color: #4b91c2 !important;
}

.yellowtitle:hover {
    text-decoration: none !important;
    color: #9ac7de !important;
}

.yellowtail {
    font-family: 'Yellowtail' !important;
    color: #aaa !important;
}

.yellowtail:hover {
    text-decoration: none !important;
    color: #4b91c2 !important;
}

.intro-xs {
    width: 100%;
    min-height: 148px;
    background: url(../img/head-bg-xs.jpg) #F7F7F7 center top;
    background-size: cover;
}
.intro-sm {
    width: 100%;
    min-height: 191px;
    background: url(../img/head-bg-sm.jpg) #F7F7F7 center top;
    background-size: cover;
}
.intro-md {
    width: 100%;
    min-height: 226px;
    background: url(../img/head-bg-md.jpg) #F7F7F7 center top;
    background-size: cover;
}
.intro-lg {
    width: 100%;
    min-height: 268px;
    background: url(../img/head-bg-lg.jpg) #F7F7F7 center top;
    background-size: cover;
}

nav.navbar-clean {
    background: none;
    border: none;
    margin-bottom: 0;
}

nav.navbar-clean .navbar-brand {
    line-height: 50px;
    padding-top: 5px;
    margin-right: 50px;
}

nav.navbar-clean .navbar-nav>li>a {
    padding-top: 25px;
    padding-bottom: 25px;
}

nav.navbar-clean .navbar-nav>.active>a, nav.navbar-clean .navbar-nav>.active:focus>a {
    background-color: #9ac7de;
    color: white;
}

nav.navbar-clean .navbar-nav>.active:hover>a {
    background-color: #9ac7de;
    color: white;
}

hr.long-hr {
    max-width: none;
    border-color: #777;
    color: #777;
}

a.silent {
    color: #333;
}

a.silent:hover {
    text-decoration: none;
    color: #6495ed;
}

a.inbox-link:hover {
    text-decoration: none;
    color: #3465bd;
}

div.image {
    position: relative;
}
span.caption-hoverable {
    position: absolute;
    bottom: 5px;
    right: 0;
    padding: 8px;
    font-weight: normal;
    color: black;
    background-color: rgba(255, 255, 255, 0.8);
    display: none;
}

span.caption-title-hoverable {
    position: absolute;
    top: 15px;
    width: auto;
    padding: 8px;
    font-weight: normal;
    font-size: 28px;
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    display: none;
}

.text-white {
    color: #ffffff;
}

.text-large {
    font-size: 24px;
}

.img-center {
    float: none;
    margin-left: auto;
    margin-right: auto;
}